.profile {
     align-items: center;
     min-height: 100%;
     color: white;
     padding: 20px;
}

.pfp {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     display: inline-block;
}

